# lambda function

In [6]:
variable_name = 10

function_name = lambda x: x * 2

print(function_name(6))

12

# variable reuse

In [13]:
x = 5

x = "Hello"

#In this example, x initially holds an integer but is later assigned a string.​

# multiple variable

In [14]:
x, y, z = 10, 20, 30

#This assigns 10 to x, 20 to y, and 30 to z.​

In [3]:
x

10

In [4]:
y

20

In [6]:
z

30

# arithmetic

In [9]:
x = 10 

y = 5 

result = x % y 

print(result)

0

In [7]:
numbers = [1, 2, 3, 4, 5] 

for num in numbers: 

 if num % 2 == 0: 

    print(num, end='')

24

In [8]:
list1 = [1, 2, 3]

list2 = [4, 5]

a=list1.extend(list2)
print(a)

None

# loops

In [10]:
for i in range(5): 

 print(i)

0
1
2
3
4

In [12]:
def add_numbers(a, b=5): 

 return a + b 

result = add_numbers(3) 
print(result)

8

# how to ask for help

In [15]:
help("__init__")

Help on method-wrapper:

__init__ = <method-wrapper '__init__' of module object>
    Initialize self.  See help(type(self)) for accurate signature.

# real life examples

In [71]:
# Movie Ratings with Tuples

movie_ratings = []

def add_movie_rating(movie_title, rating):
    movie = (movie_title, rating)
    movie_ratings.append(movie)

def average_rating():
    if not movie_ratings:
        return 0
    total_rating = sum(rating for _, rating in movie_ratings)
    return total_rating / len(movie_ratings)

def highest_and_lowest_rated_movies():
    if not movie_ratings:
        return None, None
    highest_rated = max(movie_ratings, key=lambda x: x[1])
    lowest_rated = min(movie_ratings, key=lambda x: x[1])
    return highest_rated[0], lowest_rated[0]

# Example Usage
add_movie_rating("Inception", 9.5)
add_movie_rating("The Shawshank Redemption", 9.7)
add_movie_rating("The Godfather", 9.8)

print("Average Movie Rating:", average_rating())

highest_rated, lowest_rated = highest_and_lowest_rated_movies()
print(f"Highest Rated Movie: {highest_rated}, Lowest Rated Movie: {lowest_rated}")

Average Movie Rating: 9.666666666666666
Highest Rated Movie: The Godfather, Lowest Rated Movie: Inception

In [70]:
# Student Enrollment System with Tuples

students_enrollment = []

def enroll_student(student_id, name, courses):
    student = (student_id, name, courses)
    students_enrollment.append(student)

def display_enrolled_courses():
    print("Enrolled Courses:")
    for student in students_enrollment:
        _, name, courses = student
        print(f"{name}: {courses}")

def find_students_in_course(course):
    return [student for student in students_enrollment if course in student[2]]

# Example Usage
enroll_student(1, "Alice", ["Math", "Physics"])
enroll_student(2, "Bob", ["Chemistry", "Biology"])
enroll_student(3, "Charlie", ["Math", "Computer Science"])

display_enrolled_courses()

course_to_find = "Math"
students_in_course = find_students_in_course(course_to_find)
print(f"\nStudents in {course_to_find}: {students_in_course}")

Enrolled Courses:
Alice: ['Math', 'Physics']
Bob: ['Chemistry', 'Biology']
Charlie: ['Math', 'Computer Science']

Students in Math: [(1, 'Alice', ['Math', 'Physics']), (3, 'Charlie', ['Math', 'Computer Science'])]

In [69]:
# Book Catalog with Tuples

book_catalog = []

def add_book(title, author, publication_year):
    book = (title, author, publication_year)
    book_catalog.append(book)

def display_catalog():
    print("Book Catalog:")
    for book in book_catalog:
        title, author, year = book
        print(f"{title} by {author} ({year})")

def find_books_by_author(author):
    return [book for book in book_catalog if book[1] == author]

# Example Usage
add_book("The Great Gatsby", "F. Scott Fitzgerald", 1925)
add_book("To Kill a Mockingbird", "Harper Lee", 1960)
add_book("1984", "George Orwell", 1949)

display_catalog()

author = "Harper Lee"
books_by_author = find_books_by_author(author)
print(f"\nBooks by {author}: {books_by_author}")

Book Catalog:
The Great Gatsby by F. Scott Fitzgerald (1925)
To Kill a Mockingbird by Harper Lee (1960)
1984 by George Orwell (1949)

Books by Harper Lee: [('To Kill a Mockingbird', 'Harper Lee', 1960)]

In [68]:
# Temperature Records with Tuples

temperature_records = []

def add_temperature_record(city, temperature):
    record = (city, temperature)
    temperature_records.append(record)

def hottest_and_coldest_cities():
    if not temperature_records:
        return None, None
    hottest = max(temperature_records, key=lambda x: x[1])
    coldest = min(temperature_records, key=lambda x: x[1])
    return hottest[0], coldest[0]

# Example Usage
add_temperature_record("New York", 78)
add_temperature_record("Los Angeles", 92)
add_temperature_record("Chicago", 64)

hottest, coldest = hottest_and_coldest_cities()
print(f"Hottest City: {hottest}, Coldest City: {coldest}")

Hottest City: Los Angeles, Coldest City: Chicago

In [67]:
# Student Information System with Tuples

students = []

def add_student(student_id, name, grades):
    student = (student_id, name, grades)
    students.append(student)

def average_grade(student):
    _, _, grades = student
    return sum(grades) / len(grades)

def highest_average_student():
    if not students:
        return None
    return max(students, key=average_grade)

# Example Usage
add_student(1, "Alice", [90, 85, 88])
add_student(2, "Bob", [78, 80, 82])
add_student(3, "Charlie", [95, 92, 88])

for student in students:
    student_id, name, grades = student
    print(f"{name}'s Average Grade: {average_grade(student)}")

highest_student = highest_average_student()
if highest_student:
    print(f"\nStudent with Highest Average Grade: {highest_student[1]}")

Alice's Average Grade: 87.66666666666667
Bob's Average Grade: 80.0
Charlie's Average Grade: 91.66666666666667

Student with Highest Average Grade: Charlie

In [23]:
# Employee Management System

employees = []

def add_employee(employee_id, name, salary):
    employee = (employee_id, name, salary)
    employees.append(employee)

def total_salary():
    total = sum(employee[2] for employee in employees)
    return total

def highest_salary_employee():
    if not employees:
        return None
    return max(employees, key=lambda x: x[2])

# Example Usage
add_employee(1, "Alice", 50000)
add_employee(2, "Bob", 60000)
add_employee(3, "Charlie", 75000)

print("Total Salary:", total_salary())
print("Employee with Highest Salary:", highest_salary_employee())

Total Salary: 185000
Employee with Highest Salary: (3, 'Charlie', 75000)

In [24]:
# Shopping Cart with Discounts

item_prices = {"apple": 1.0, "banana": 0.5, "orange": 1.2}
shopping_cart = []

def add_to_cart(item, quantity):
    if item in item_prices and quantity > 0:
        shopping_cart.append((item, quantity))

def calculate_total_price():
    total_price = sum(item_prices[item] * quantity for item, quantity in shopping_cart)
    # Apply a 10% discount if the total price is greater than 50
    if total_price > 50:
        total_price *= 0.9
    return total_price

def display_cart():
    print("Shopping Cart:")
    for item, quantity in shopping_cart:
        print(f"{item} x{quantity}")

# Example Usage
add_to_cart("apple", 3)
add_to_cart("banana", 2)
add_to_cart("orange", 1)

display_cart()
print("Total Price:", calculate_total_price())

Shopping Cart:
apple x3
banana x2
orange x1
Total Price: 5.2

In [25]:
# Student Grade Calculator

students = [("Alice", [90, 85, 88]), ("Bob", [78, 80, 82]), ("Charlie", [95, 92, 88])]

def student_average_grade(student):
    name, grades = student
    average = sum(grades) / len(grades)
    return name, average

def class_average():
    if not students:
        return 0
    total_average = sum(student_average_grade(student)[1] for student in students) / len(students)
    return total_average

# Example Usage
for student in students:
    name, average = student_average_grade(student)
    print(f"{name}'s Average Grade: {average}")

print("Class Average Grade:", class_average())

Alice's Average Grade: 87.66666666666667
Bob's Average Grade: 80.0
Charlie's Average Grade: 91.66666666666667
Class Average Grade: 86.44444444444446

In [27]:
# Password Generator

import random
import string

def generate_password(length):
    # Define character sets
    lower_case = string.ascii_lowercase
    upper_case = string.ascii_uppercase
    digits = string.digits
    special_characters = string.punctuation

    # Combine character sets based on complexity
    all_characters = lower_case + upper_case + digits + special_characters

    # Generate password
    password = ''.join(random.choice(all_characters) for _ in range(length))
    return password

# Example Usage
simple_password = generate_password(8)
medium_password = generate_password(12)
complex_password = generate_password(16)

print("Simple Password:", simple_password)
print("Medium Password:", medium_password)
print("Complex Password:", complex_password)

Simple Password: ]cWS2c/c
Medium Password: ,BVG6>b/@pSG
Complex Password: G=TI<aVI/fi2<ml$

In [28]:
# Inventory Management System

inventory = []

def add_product(product_name, quantity, price):
    product = {"name": product_name, "quantity": quantity, "price": price}
    inventory.append(product)

def update_quantity(product_name, new_quantity):
    for product in inventory:
        if product["name"] == product_name:
            product["quantity"] = new_quantity
            break

def display_inventory():
    print("Current Inventory:")
    for product in inventory:
        print(f"{product['name']} - Quantity: {product['quantity']}, Price: ${product['price']}")

# Example Usage
add_product("Laptop", 10, 800)
add_product("Smartphone", 20, 400)
add_product("Headphones", 30, 50)

display_inventory()

update_quantity("Laptop", 8)

print("\nUpdated Inventory:")
display_inventory()

Current Inventory:
Laptop - Quantity: 10, Price: $800
Smartphone - Quantity: 20, Price: $400
Headphones - Quantity: 30, Price: $50

Updated Inventory:
Current Inventory:
Laptop - Quantity: 8, Price: $800
Smartphone - Quantity: 20, Price: $400
Headphones - Quantity: 30, Price: $50

# how to check data type

#integer

In [18]:
a = 10

print(type(a))               # To check the data type of a ​

print(id(a))                      # To check the id of a ​

<class 'int'>
2329375408656

In [21]:
a = 42

b = 42

print(a is b)                    # gives True​​

print(id(a), id(b))           # id of both a & b is same  ​

x = 257

y = 257

print(x is y)                    # gives False​

print(id(a), id(b))           # id of both a & b is same  ​

True
2329375409680 2329375409680
False
2329375409680 2329375409680

#float

In [22]:
a = 1.5

print(type(a))        # To check the data type of a​

print(id(a))            # To check the id of a​

<class 'float'>
2329450485584

#complex

In [24]:
z = 3 + 4j                # Where 3 is the real part, and 4 is the imaginary part.​

print(type(z))            # To check the data type of a​

#To check the id of a      # print(id(z))​

<class 'complex'>

# boolean

In [27]:
a = bool(20)

print(a, type(a))

True <class 'bool'>

In [28]:
b = bool(0)

print(b, type(b))

False <class 'bool'>

# list

In [37]:
my_list = [1, 2, 3, 'apple', 'banana', True]

In [38]:
my_list.append('orange')

In [39]:
my_list

[1, 2, 3, 'apple', 'banana', True, 'orange']

In [40]:
my_list.remove(2)

In [41]:
my_list

[1, 3, 'apple', 'banana', True, 'orange']

# tuple

In [42]:
my_tuple = (1, 2, 'apple', 'banana', True)

In [43]:
count_apple = my_tuple.count('apple')

In [44]:
count_apple

1

In [45]:
index_banana = my_tuple.index('banana')

# dictionary

In [46]:
my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}

In [47]:
age = my_dict.get('age', 0)

In [48]:
age

25

In [49]:
removed_age = my_dict.pop('age')

In [50]:
removed_age

25

# set

In [51]:
my_set = {1, 2, 'apple', 'banana', True}

In [52]:
my_set.add('orange')

In [53]:
my_set

{1, 2, 'apple', 'banana', 'orange'}

In [54]:
my_set.remove(2)

In [55]:
my_set

{1, 'apple', 'banana', 'orange'}

# strings

In [57]:
#Strings can be declared using either single quotes (‘ ’) or double quotes (“ ”).

In [62]:
#String Concatenation

first_name = "John"

last_name = "Doe"

full_name = first_name + " " + last_name  

full_name

'John Doe'

In [66]:
#String Length

text = "Python"

length = len(text) 
length

6

# slicing

In [72]:
my_tuple = (1, 2, 3, 4, 5) 

result = my_tuple[1:4] 
result

(2, 3, 4)

In [73]:
tuple1 = (1, 2, 3) 

tuple2 = (4, 5, 6) 

result = tuple1 + tuple2 
result

(1, 2, 3, 4, 5, 6)

In [74]:
my_list = [1, 2, 3, 4]

result = my_list[1:3]

print(result)

[2, 3]

In [76]:
my_list = [1, 2, 3, 4, 5] 

my_list.insert(2, 6) 
my_list

[1, 2, 6, 3, 4, 5]

In [77]:
my_dict = {'a': 1, 'b': 2,'c': 3} 

result = my_dict.get('b', 0) 
result

2

In [78]:
set1 = {1, 2, 3, 4} 

set2 = {3, 4, 5, 6} 

result = set1.intersection(set2) 
result

{3, 4}

In [80]:
my_dict ={'a': 1, 'b': 2, 'c': 3} 

keys = my_dict.keys() 
keys

dict_keys(['a', 'b', 'c'])

In [82]:
my_dict = {'a': 1, 'b': 2, 'c': 3} 

keys = my_dict.keys() 
keys

dict_keys(['a', 'b', 'c'])

In [84]:
my_set = {1, 2, 3, 4} 

my_set.update({3, 4, 5, 6}) 
my_set

{1, 2, 3, 4, 5, 6}